@import '../../Styles/constant';

.calendy_container {
  @include occupyFullSpace;
  @include flex(column, center, center);
  position: relative;
  background-color: $secondary;
  // color: $primary;
  padding: 100px;
  width: 100%;
  box-sizing: border-box;

  @media screen and (max-width:500px) {
    // max-width: 100vw;
    padding: 50px 15px;
  }

  .heading {
    font-family: Bricolage Grotesque;
    font-size: 52px;
    color: $primary;
    font-weight: 800;
    margin: 25px 0;
    box-sizing: border-box;


    @media screen and (max-width:500px) {
      font-size: 28px;
      margin: 0;
      line-height: 110%;
    }
  }

  .container0 {
    background: $alternate !important;
    border-radius: 10px !important;


    @media screen and (max-width:500px) {
      transform: scale(0.75);
    }
  }

  @media screen and (max-width:500px) {
    max-width: 100vw;
  }

  div {
    font-family: Bricolage Grotesque;
    color: $alternate;
    font-size: 28px;
  }
}