@import '../../Styles/constant';

.home_container {
  @include occupyFullSpace;
  @include flex(column, flex-start, center);
  // background-color: $secondary;

  ::-moz-selection {
    background-color: $primary;
    color: $alternate;
  }
  
  ::selection {
    background-color: $primary;
    color: $alternate;
  }
}